
<img ng-src="{{articleData.titleImg}}">
<div class="articleLink">
<!--    <a href="#"><img src="authors/3.jpeg" alt="Zach Hamed" class="userImage" /></a> -->
    <h1>{{articleData.title}}</h1>
    <ul>
        <li ng-repeat="tag in articleData.tags">
            <a ui-sref="tag({id:tag})">{{tag}}</a>
        </li>
    </ul>
</div>
<div class="temp">
    <article xmlns="http://www.w3.org/1999/html">
        <!---- calls twice, maybe controller called twice? ---->
        <div ng-repeat="paragraph in articleData.body">
            <div ng-switch on="paragraph.type">
                <p name="2b37" ng-switch-when="text">{{paragraph.text}}</p>
                <img ng-switch-when="image" ng-src="{{paragraph.path}}">
                <p ng-switch-default>default</p>
            </div>
        </div>
    </article>
</div>
