<input id="searchTextField" type="text" size="50" placeholder="Anything you want!">

<google-map center="map.center" zoom="map.zoom" refresh="{{refresh}}">
    <marker coords="marker.position"></marker>
</google-map>

<h1 class="editable">Insert header</h1>
<p class="editable">Insert body</p>
<script type="text/javascript">
    var editor = new MediumEditor('.editable', {
        anchorInputPlaceholder: 'Type a link',
        buttons: ['bold', 'italic', 'quote'],
        diffLeft: 25,
        diffTop: 10,
        firstHeader: 'h1',
        secondHeader: 'h2',
        delay: 0,
        targetBlank: true
    });
</script>